.weather-app {
  max-width: 600px;
  border: gray solid;
  border-radius: 4px;
  padding: 40px;
  color: black;
  margin: 30px;
  display: block;
}

p {
  text-align: center;
}

.daily-forecast {
  text-align: center;
  border: gray solid;
  border-radius: 4px;
  padding: 30px;
}

img {
  display: inline;
}

.float-left {
  float: left;
}

.additional-result ul {
  font-size: 18px;
  list-style: none;
}

.search-result ul {
  font-size: 30px;
  list-style: none;
}
